@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700|Tajawal:400,700|Permanent+Marker");

@tailwind preflight;

body {
  @apply .text-base .font-sans .text-white .antialiased .bg-black;
}

a,
button {
  transition: all 0.2s;
}

.hover\:fade:hover {
  opacity: 0.7;
}

.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.is-frosted {
  filter: blur(2px);
}

.bg-sunset-gradient {
  background: linear-gradient(-45deg, #f5467f, #23abae);
}

.caret {
  animation: blink-caret 0.5s ease-in-out alternate infinite;
}

@keyframes blink-caret {
  from {
    color: rgba(255, 255, 255, 0.75);
  }
  to {
    color: transparent;
  }
}

@tailwind utilities;
