@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700+Mrs+Sheppards");

@tailwind preflight;

body {
  @apply .font-primary .text-white .antialiased .leading-normal .bg-black;
}

a {
  text-decoration: none;
}

.measure {
  max-width: 30em;
}

.measure-wise {
  max-width: 34em;
}

.measure-narrow {
  max-width: 20em;
}

.caret {
  animation: blink-caret 1s infinite;
}

@keyframes blink-caret {
  from {
    color: rgba(255, 255, 255, 0.75);
  }
  to {
    color: transparent;
  }
}

.lagd-covered {
  position: relative;
  overflow: hidden;
}

.lagd-cover {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  max-height: none;
  max-width: none;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}

@tailwind utilities;
