@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro|Work+Sans:400,600,700|Permanent+Marker");

@tailwind preflight;

body {
  @apply .text-base .font-sans .text-white .antialiased .leading-normal .bg-black;
}

a {
  text-decoration: none;
}

a,
button {
  transition: opacity 0.2s;
}

a:hover,
button:hover {
  opacity: 0.8;
}

.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.is-frosted {
  filter: blur(2px);
}

.measure {
  max-width: 30em;
}

.measure-wise {
  max-width: 34em;
}

.measure-narrow {
  max-width: 20em;
}

.caret {
  animation: blink-caret 1s infinite;
}

@keyframes blink-caret {
  from {
    color: rgba(255, 255, 255, 0.75);
  }
  to {
    color: transparent;
  }
}

.bg-sunset {
  background: linear-gradient(-45deg, #f58699, #f1c0b2, #abbfc0);
}

.lagd-covered {
  position: relative;
  overflow: hidden;
}

.lagd-cover {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  max-height: none;
  max-width: none;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}

@tailwind utilities;
